.exec-2019 {
    /* The image used */
    background-image: url("../images/exec_2019.jpeg");

    /* Set a specific height */
    min-height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 500px;
}

.conference-1 {
    /* The image used */
    background-image: url("../images/conference_2019_1.jpg");

    /* Set a specific height */
    min-height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.conference-2 {
    /* The image used */
    background-image: url("../images/conference_2019_2.jpg");

    /* Set a specific height */
    min-height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.retreat-2019 {
    /* The image used */
    background-image: url("../images/retreat_2019.jpg");

    /* Set a specific height */
    min-height: 600px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.section {
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.section > h3 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #111;
}

.section > p {
    font-size: 25px;
    text-align: center;
}

.quotes {
    margin: 32px;
}
