
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 500px;
}

@media all and (max-width: 768px) {
    .logo {
        height: 200px;
    }
}

.section {
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.section > h3 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #111;
}

.section > p {
    font-size: 25px;
    text-align: center;
}

.quotes {
    margin: 32px;
}
