.section {
    color: rgb(0, 0, 0);
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.section > h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #111;
}

.section > p {
    font-size: 20px;
}

.section > p > a {
    /* text-decoration: none; */
    color: #001F5B;
}