.events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 64px;
}


@media all and (max-width: 768px) {
    iframe {
        width: 100%;
    }
}
