header {
    padding-bottom: 0px;

    /* background-repeat:no-repeat; */
    background-image: url("../images/flags\ copy.jpg");
    background-size:cover;
    /* background-color: beige; */
    margin-bottom: 0;
}

header img {
    /* text-align: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

@media all  and (max-width: 768px) {
    header img {
        width: 100%;
        height: 50%;
    }
}

nav {
    flex: 1 50px auto;
    padding-left: 20px;
    width: 100%;
    height: 64px;
    /* background-color: rgba(0, 74, 223, 0.797); */
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    font-size: 25px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #058800;
    color: white !important;
}