.home{
    text-align: center;
    margin: 32px 20%;
}
.logo{
    width: 70%;
}

ul{
    list-style-type: none;
    font-weight: bold;
}

.header{
    margin-top: 32px;
}

.bold{
    font-weight: bold;
}

h5{
    color: #444444;
}

.button{
    margin: 32px;
    margin-bottom: 64px;
}